@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 5vh;
}

body {
  background-image: url("./assets/world.jpg");
  background-position: top center;
  background-size: auto;
  background-repeat: none;
  background-attachment: fixed;

  justify-content: flex-start;
  align-items: flex-start;
}

.titulo-quiz {
  font-size: 2em;
  font-weight: bold;
}

.settings {
  display: flex;
  position: fixed;
  top: 1em;
  right: 1em;
  font-size: 2em;
  cursor: pointer;
}

.setting-position-bar {
  display: flex;
  position: fixed;
  top: 3.2em;
  right: 1em;
  font-size: 2em;
}

.setting-bar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  row-gap: 0.5em;
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.54);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.54);
  border: none;
  padding: 0.8em;
  padding-right: 0;
}

.hide-show-bar {
  display: none;
}

/* Adicione regras de mídia para ajustar o layout em tamanhos de tela menores */
@media screen and (max-width: 768px) {
  .setting-bar {
    row-gap: 0.2em;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .setting-position-bar {
    font-size: 1.5em;
  }
  .titulo-quiz {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 480px) {
  .setting-bar {
    padding: 0.2em;
  }
}
